<div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
          <em class="ion-ios-close-empty sn-link-close"></em>
        </button>
        <h4 class="modal-title">操作</h4>
      </div>
      <div class="modal-body">


      <div class="modal-footer">
        <button type="button" class="btn btn-danger" ng-click="$dismiss();removeUser()">删除</button>
        <button type="button" class="btn btn-primary" ng-click="$dismiss()">取消</button>
      </div>
    </div>
</div>