<div class="modal-content">
      <div class="modal-header bg-danger">
        <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
          <em class="ion-ios-close-empty sn-link-close"></em>
        </button>
        <span>操作</span>
      </div>
<!--      <div class="modal-body">
        请确认系统字段为冻结状态
        </div>-->
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" ng-click="$dismiss();removeUser()">删除</button>
        <button type="button" class="btn btn-primary" ng-click="$dismiss()">取消</button>
    </div>
</div>